body { 
    background-color: gray;

}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}