form {
    display: inline-block;
    text-align: center;
    margin-top: 50px;
}
input[type="email"], input[type="password"] {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
body {
    background-color: gray;
    text-align:center;
}
button { 
    display: inline-block;
    margin-top: 10px;
    color: black;
    background-color: green;
}
a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}